*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:linear-gradient(135deg,#eef2ff,#f1f4fa);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* Main Container */
.page-container{
    width:900px;
    animation:fadeIn 0.6s ease-in-out;
}

/* Card */
.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 20px 60px rgba(0,0,0,0.08);
    transition:0.3s ease;
}

.card:hover{
    transform:translateY(-4px);
}

.card-header{
    background:linear-gradient(90deg,#2f6fed,#4a82ff);
    color:white;
    display:flex;
    align-items:center;
    padding:5px 10px;   
}

/* Bigger Logo */
.logo{
    width:100px;         
    margin-right:20px;
}

/* Bigger Brand Text */
.brand-name{
    font-size:32px;     
    font-weight:700;
    letter-spacing:1px;
}

/* Registration Page Divider */
.header-divider{
    height:10px;             
    background:#2f6fed;
    width:100%;
}

/* Body Layout */
.card-body{
    display:flex;
    padding:45px;
    gap:35px;
}

/* Left Section */
.left-section{
    flex:1;
}

.register-brand h1{
    font-size:25px;
    font-weight:600;
    margin-bottom:10px;
    color:#2f6fed;
}

.left-section h3{
    margin-bottom:25px;
    font-size:20px;
    font-weight:600;
    color:#222;
}

.left-section label{
    display:block;
    font-size:14px;
    margin-bottom:6px;
    color:#555;
}

.left-section input,
.select-box{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:8px;
    outline:none;
    transition:0.3s ease;
    font-size:14px;
}

.left-section input:focus,
.select-box:focus{
    border:1px solid #2f6fed;
    box-shadow:0 0 8px rgba(47,111,237,0.25);
}

/* Button */
.login-btn{
    width:100%;
    padding:14px;
    background:#2f6fed;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    font-size:15px;
    transition:0.3s ease;
}

.login-btn:hover{
    background:#1e54d6;
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(47,111,237,0.3);
}

/* Text Links */
.register-text,
.switch-text{
    margin-top:15px;
    font-size:14px;
    color:#444;
}

.register-text a,
.switch-text a{
    color:#2f6fed;
    text-decoration:none;
    font-weight:500;
    transition:0.2s;
}

.register-text a:hover,
.switch-text a:hover{
    text-decoration:underline;
}

/* Right Section */
.right-section{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-img{
    width:330px;
    height:330px;
}

/* Fade Animation Only For Page */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(15px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
