<!DOCTYPE html>
<html>
<head>
    <title>Shopkeeper Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="page-container">
    <div class="card">

        <div class="card-header">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="Logo">
            <h1 class="brand-name">Bazaar One</h1>
        </div>

        <div class="card-body">

            <form class="left-section" action="/login-shopkeeper" method="POST">
                <h3>Shopkeeper's Portal</h3>

                <label>Email Address</label>
                <input type="email" name="email" placeholder="Enter Email" required>

                <label>Password</label>
                <input type="password" name="password" placeholder="Enter Password" required>

                <button type="submit" class="login-btn">Log In</button>

                <p class="register-text">
                    Don’t have an account?
                    <a href="{{ url_for('register') }}">Register</a>
                </p>

                <p class="register-text">
                    Login as Wholesaler?
                    <a href="{{ url_for('wholeseller_login') }}">Click Here</a>
                </p>
            </form>

            <div class="right-section">
                <img src="{{ url_for('static', filename='login image.png') }}" class="login-img">
            </div>

        </div>
    </div>
</div>

</body>
</html>